# assignments_three :

#### 1. Write a Python program to add an item to a tuple.

In [26]:
x = (1, 2, 3)
x = x + (4,)
print(x)

(1, 2, 3, 4)

#### 2. Write a Python program to sum all the items in a list.

In [28]:
x = [1, 2, 3, 4]
total_sum = sum(x)
print(total_sum)

10

#### 3. Write a Python program to multiply all the items in a list.

In [30]:
my_list = [1, 2, 3, 4]
x = 1
for i in my_list:
    x *= i
print(x)

24

#### 4. Write a Python program to get the smallest number from a list.

In [34]:
my_list = [3, 1, 4, 2]
smallest = min(my_list)
print(smallest)

1

#### 5. Write a Python program to get the largest number from a list.

In [36]:
my_list = [3, 1, 4, 2]
largest = max(my_list)
print(largest)

4

#### 6. Write a Python program to count the number of strings from a given list of strings.

In [38]:
my_list = ["apple", "banana", "cherry"]
string_count = len(my_list)
print(string_count)

3

#### 7. Write a Python program to clone or copy a list.

In [42]:
x = [1, 2, 3]
y = x.copy()
print(y)

[1, 2, 3]

#### 8. Write a Python program to remove item(s) from a given set.

In [48]:
x = {1, 2, 3, 4}
x.remove(2) 
print(x)

{1, 3, 4}

#### 9. Write a Python program to check if a set is a subset of another set.

In [53]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
x = set1.issubset(set2)
print(x)

True

#### 10. Write a Python program to remove all elements from a given set.

In [55]:
x = {1, 2, 3, 4}
x.clear()
print(x)

set()

#### 11. Write a Python program to find the maximum and minimum values in a set.

In [57]:
x = {1, 2, 3, 4}
Max = max(x)
Min = min(x)
print("Max:", Max, "Min:", Min)

Max: 4 Min: 1

#### 12. Write a Python program to find the index of an item in a tuple.

In [59]:
x = (10, 20, 30, 40)
index = x.index(30)
print(index)

2

#### 13. Write a Python program to convert a tuple to a dictionary.

In [63]:
my_tuple = (("key1", 1), ("key2", 2), ("key3", 3))
my_dict = dict(my_tuple)
print(my_dict)

{'key1': 1, 'key2': 2, 'key3': 3}

#### 14. Write a Python program to unzip a list of tuples into individual lists.

In [10]:
list1 = [(1, 2), (3, 4), (5, 6)]
list2 = list(zip(*list1))
print(list2)

[(1, 3, 5), (2, 4, 6)]

#### 15. Write a Python program to reverse a tuple.

In [70]:
my_tuple = (1, 2, 3)
x = my_tuple[::-1]
print(x)

(3, 2, 1)

#### 16. Write a Python program to convert a list of tuples into a dictionary.

In [67]:
my_list = [("key1", 1), ("key2", 2), ("key3", 3)]
my_dict = dict(my_list)
print(my_dict)

{'key1': 1, 'key2': 2, 'key3': 3}

#### 17. Write a Python program to replace the last value of tuples in a list. 
##### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
##### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [72]:
my_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
my_list = [i[:-1] + (100,) for i in my_list]
print(my_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

#### 18. Write a Python program to sort a tuple by its float element.

In [12]:
tuple1 = (('ahmed', 95), ('ali', 83), ('mohamed', 70))
tuple2 = tuple(sorted(tuple1, key=lambda x: x[1]))
print(tuple2)

(('mohamed', 70), ('ali', 83), ('ahmed', 95))