# Tuples exercises

### 1. Write a Python program to create a tuple of numbers and print one item.

In [12]:
number=(1,2,3,4,5,6)
print(number[0])

1

### 2. Write a Python program to unpack a tuple into several variables.

In [35]:
numbers=(1,2,3)
a,b,c = numbers
print(a,b,c)

1 2 3

### 3. Write a Python program to add an item to a tuple at index number 2.

In [43]:
x = ('apple', 'banana', 'cherry')
item = 'orange'
x = x[:2] + (item,) + x[2:]
print(x)

('apple', 'banana', 'orange', 'cherry')

### 4. Write a Python program to convert a tuple to a string.
### 1. ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's') => 'exercises'

In [41]:
my_tuple = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
result = ''.join(my_tuple)
print(result)

exercises

### 5. Write a Python program to find repeated items in a tuple.

In [39]:
x = (1,2,3,4,1,2)
items = set(x)
repeated_items = set()
for i in items:
    if x.count(i) > 1:
        repeated_items.add(i)
print(repeated_items)

{1, 2}

### 6. Write a Python program to remove an item from a tuple.

In [6]:
x = (1, 2, 3, 4, 5)
x = x[:2] + x[3:] 
print(x)

(1, 2, 4, 5)

### 7. Write a Python program to reverse a tuple.

In [14]:
x = (1, 2, 3, 4, 5)
y = x[::-1]
print(y)

(5, 4, 3, 2, 1)

### 8. Write a Python program to replace the last value of tuples in a list.

In [16]:
list_of_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
new_list = [i[:-1] + (0,) for i in list_of_tuples]  
print(new_list)

[(1, 2, 0), (4, 5, 0), (7, 8, 0)]

   # List Exercises

### 1. Create a list of your favorite fruits. Add another fruit to the end of the list using append().

In [18]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

### 2. Create two lists of numbers, then extend the first list by adding all elements from the second list using extend()

In [21]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

### 3. insert(index, item) Start with a list of colors. Insert a new color at the second position (index 1).

In [23]:
colors = ["red", "green", "blue"]
colors.insert(1, "yellow")
print(colors)

['red', 'yellow', 'green', 'blue']

### 4. Create a list of city names with some duplicates. Use remove() to delete the first occurrence of a city

In [25]:
cities = ["Cairo", "London", "Cairo", "Madrid"]
cities.remove("Cairo")
print(cities)

['London', 'Cairo', 'Madrid']

### 5. pop(index) Make a list of your favorite animals. Use pop() to remove the animal at the third position and store it in a variable.

In [31]:
animals = ["cat", "dog", "rabbit"]
removed_animal = animals.pop(2)  
print("removed animal  : ",removed_animal)
print("favorite animals:",animals)

removed animal  :  rabbit
favorite animals: ['cat', 'dog']

### 6. clear() Create a list of random numbers, then clear it using clear().

In [35]:
numbers = [1, 2, 3, 4]
numbers.clear()
print(numbers)

[]

# Dictionary Function Exercises

### 1. Create a dictionary of country capitals. Use get() to retrieve the capital of 'France', with a default value if itâ€™s not in the dictionary.

In [45]:
capitals = {"Egypt": "Cairo", "UK": "London", "Japan": "Tokyo"}
x = capitals.get("France", "Not Found")
print(x)

Not Found

### 2. Make a dictionary of programming languages and their popular frameworks. Use keys() to get a list of all languages.

In [47]:
languages = {"Python": "Django", "JavaScript": "React", "Java": "Spring"}
x = languages.keys()
print(x)

dict_keys(['Python', 'JavaScript', 'Java'])

### 3. Using the previous dictionary, get a list of all frameworks using values().

In [49]:
frameworks = languages.values()
print(frameworks)

dict_values(['Django', 'React', 'Spring'])

### 4. Use items() to get a list of all key-value pairs in a dictionary representing items and their prices.

In [51]:
items = {"Apple": 40, "Banana": 30, "Orange": 20}
item_pairs = items.items()
print(item_pairs)

dict_items([('Apple', 40), ('Banana', 30), ('Orange', 20)])

### 5. Create a dictionary with some initial values, and then use update() to add more items.

In [57]:
x = {"name": "Ahmed", "age": 20}
x.update({"country": "Egypt", "job": "Engineer"})
print(x)

{'name': 'Ahmed', 'age': 20, 'country': 'Egypt', 'job': 'Engineer'}

### 6. Remove an item from a dictionary of students by using pop(), then store the popped value in a variable.

In [55]:
students = {"Ahmed": 90, "Ali": 85, "Mohamed": 95}
x = students.pop("Ali")
print("removed student score :",x)
print(students)

removed student score : 85
{'Ahmed': 90, 'Mohamed': 95}

### 7. Create a dictionary and use clear() to remove all items.

In [53]:
my_dict = {"key1": 1, "key2": 2}
my_dict.clear()
print(my_dict)

{}